[buildout]
develop = .
parts = devpython scripts releaser
versions = versions
show-picked-versions = true
extensions = mr.developer
auto-checkout = morepath reg

[versions]
twine = 1.6.5

[sources]
morepath = git git@github.com:morepath/morepath.git
reg = git git@github.com:morepath/reg.git

[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = more.transaction
       flake8
       radon

[scripts]
recipe = zc.recipe.egg:scripts
eggs = more.transaction [test]
       pytest >= 2.6.0
       snot

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
